# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyd

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
dist/
build/
*.egg-info/

# Environment variables
.env
*.env

# Logs
*.log

# MacOS
.DS_Store

# IDEs and editors
.vscode/
.idea/
*.swp

# Jupyter Notebook
.ipynb_checkpoints/

# Test results
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Pytest
.cache/
*.pytest_cache/

# MyPy
.mypy_cache/
.dmypy.json
.dmypy.json

# Pytype
.pytype/

# Cython debug symbols
cython_debug/

# Other
*.sqlite3